html, body, section, div, nav, ul, li, h1{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

body {
  font-size: 14px;
  font-family: 'PT Mono', monospace;
  background-image: url(http://wallpapercave.com/wp/aZKICPt.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px;
}

.clock {
  display: flex;
  background: GhostWhite;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  top: 20px;
  border: 1px solid DarkSlateGray;
  padding: 5px 8px;
}

.date, .time {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.weather {
  display: block;
  background: GhostWhite;
  border: 1px solid DarkSlateGray;
  width: 40%;
  margin: 0 auto;
  padding: 5px 8px;
  font-size: 20px;
  text-align: center;
}

.weather:hover {

}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.main > ul > li {
  margin: 50px;
}
