
<% if action == 'PATCH' %>
  <% action_url = band_url(band) %>
<% else %>
  <% action_url = bands_url %>
<% end %>

<form action= <%= action_url %> method="POST">
  <% if action == 'PATCH' %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <%= auth_token %>

  <label for="name">Name</label>
  <input id="name" type="text" name="band[name]" value = "<%= band.name %>">
  <br>

  <% if action == 'POST' %>
    <input type="submit" value="Add Band">
  <% else %>
    <input type="submit" value="Update Band">
  <% end %>

</form>
