html, body, section, div, nav, ul, li, h1{
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: inherit;
  background: transparent;
  color: inherit;
  list-style-type: none;
}

body {
  font-size: 14px;
  font-family: 'PT Mono', monospace;
}

.clock {
  display: flex;
  background: GhostWhite;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  top: 20px;
  border: 1px solid DarkSlateGray;
  padding: 5px 8px;
}

.date, .time {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.weather {
  display: block;
  background: GhostWhite;
  border: 1px solid DarkSlateGray;
  width: 40%;
  margin: 0 auto;
  padding: 5px 8px;
  font-size: 20px;
  text-align: center;
}

.weather:hover {

}
.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.main > ul > li {
  margin: 10px;
}
