<h1> Log in to this cool app </h1>
<form action="<%=  sessions_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_name">Username</label>
  <input type="text" name="user[user_name]" placeholder="username">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" placeholder="password">
  <br><br>
  <input type="submit" value="Log in">
</form>
